# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env

# VS Code settings
.vscode/

# Generated data
data/processed/

# Trained models
models/

# OS files
.DS_Store
Thumbs.db

notebooks/data/processed/